# This is Assignment 06 - Ben Smith

## Requirement 4

In [30]:
list_1 = [77, 84, 99, 3, 7, 43, 44, 82, 90, 13, 2, 4, 8, 31, 19, 0, 1, 2, 4, 5]

print('Here is list_1:')
print(list_1)

# i: output the length of list_1

print('The length of list_1 is:')
print(len(list_1))

# ii. append three numbers to the list between 0 and 99

list_1.append(11) 
list_1.append(12) 
list_1.append(14)

print('Here is list_1 after three more numbers have been appended:')
print(list_1)

# use the addition operator to apend a literal list of 7 numbers between 0 and 99 to list_1

print('Here is list_1 with a literal list of seven numbers appended:')
print(list_1 + [98, 97, 96, 95, 94, 93, 92, 91])

# sort list_1

list_1.sort()

print('Here is list_1 after sorting:')
print(list_1)

Here is list_1:
[77, 84, 99, 3, 7, 43, 44, 82, 90, 13, 2, 4, 8, 31, 19, 0, 1, 2, 4, 5]
The length of list_1 is:
20
Here is list_1 after three more numbers have been appended:
[77, 84, 99, 3, 7, 43, 44, 82, 90, 13, 2, 4, 8, 31, 19, 0, 1, 2, 4, 5, 11, 12, 14]
Here is list_1 with a literal list of seven numbers appended:
[77, 84, 99, 3, 7, 43, 44, 82, 90, 13, 2, 4, 8, 31, 19, 0, 1, 2, 4, 5, 11, 12, 14, 98, 97, 96, 95, 94, 93, 92, 91]
Here is list_1 after sorting:
[0, 1, 2, 2, 3, 4, 4, 5, 7, 8, 11, 12, 13, 14, 19, 31, 43, 44, 77, 82, 84, 90, 99]

## Requirement 5

In [23]:
# Show specific values from list_1

list_1 = [0, 1, 2, 2, 3, 4, 4, 5, 7, 8, 11, 12, 13, 14, 19, 31, 43, 44, 77, 82, 84, 90, 99]

print('The 4th element of list_1 is',list_1[3],'.')
print('The 15th element of list_1 is',list_1[14],'.')
print('The 3rd element from the end of list_1 is',list_1[-3],'.')
print('The 7th element from the end of list_1 is',list_1[-7],'.')
print('The first 4 elements of list_1 are',list_1[0:4],'.')
print('The last 5 elements of list_1 are',list_1[-5:],'.')
print('The elements from list_1 are presented here in reverse order:',list_1[::-1],'.')

# Set specific values in list_1

list_1[13] = -99

print('Here is list_1 after the 14th value has been set to -99:',list_1,'.')

# Show more specific values from list_1

print('Here is every other element from list_1, starting with the first element:',list_1[::2],'.')

# Set more specific values in list_1

list_1[8:14] = [-77, -77, -77, -77, -77, -77, -77]

print('Here is list_1 after the 9th through 15th elements have all been set to -77:',list_1,'.')

The 4th element of list_1 is 2 .
The 15th element of list_1 is 19 .
The 3rd element from the end of list_1 is 84 .
The 7th element from the end of list_1 is 43 .
The first 4 elements of list_1 are [0, 1, 2, 2] .
The last 5 elements of list_1 are [77, 82, 84, 90, 99] .
The elements from list_1 are presented here in reverse order: [99, 90, 84, 82, 77, 44, 43, 31, 19, 14, 13, 12, 11, 8, 7, 5, 4, 4, 3, 2, 2, 1, 0] .
Here is list_1 after the 14th value has been set to -99: [0, 1, 2, 2, 3, 4, 4, 5, 7, 8, 11, 12, 13, -99, 19, 31, 43, 44, 77, 82, 84, 90, 99] .
Here is every other element from list_1, starting with the first element: [0, 2, 3, 4, 7, 11, 13, 19, 43, 77, 84, 99] .
Here is list_1 after the 9th through 15th elements have all been set to -77: [0, 1, 2, 2, 3, 4, 4, 5, -77, -77, -77, -77, -77, -77, -77, 19, 31, 43, 44, 77, 82, 84, 90, 99] .

## Requirement 6

In [31]:
# Create a tuple containing 7 arbitrary numbers

tuple_1 = (45, 76, 555, -54, 2, 37, -77)

# Attempt to set the 3rd value to -33.

tuple_1[2] = -33

# This will create an error because tuples are immutable.

TypeError: 'tuple' object does not support item assignment

In [34]:
tuple_1 = (45, 76, 555, -54, 2, 37, -77)

# Attempt to append the value -22 to the tuple. 

tuple_1.append(-22)

# This will also create an error because tuples are immutable.

AttributeError: 'tuple' object has no attribute 'append'

## Requirement 7

In [43]:
# Create a dictionary of sports players and their positions; populate the dictionary with player positions as keys and 
# player names as values. 

players_football = {'Quarterback':'Smith', 'Running Back':'Johnson', 'Wide Receiver':'Martin', 'Center':'Hamilton', 'Tight End':'Stanton', 'Right Guard':'Sherman', 'Left Guard':'Zaslavsky', 'Tailback':'Karr', 'Safety':'Psonowsky'}

print('Here is the dictionary called players_football:')
print(players_football)

# Change a key:value pair

players_football['Quarterback'] = 'Manning'

print('After changing a key:value pair, the new quarterback is',players_football['Quarterback'],'.')

# Add a key:value pair

players_football['Middle Linebacker'] = 'Bronson'

print('After adding a key:value pair, there is now a Middle Linebacker named',players_football['Middle Linebacker'],'.')

Here is the dictionary called players_football:
{'Quarterback': 'Smith', 'Running Back': 'Johnson', 'Wide Receiver': 'Martin', 'Center': 'Hamilton', 'Tight End': 'Stanton', 'Right Guard': 'Sherman', 'Left Guard': 'Zaslavsky', 'Tailback': 'Karr', 'Safety': 'Psonowsky'}
After changing a key:value pair, the new quarterback is Manning .
After adding a key:value pair, there is now a Middle Linebacker named Bronson .

## Requirement 8

In [8]:
hatfields = {'jim', 'john', 'jack', 'jeb', 'jedidiah', 'clayton', 'tim', 'bob', 'matt', 'luke'}
mccoys = {'brandon', 'morgan', 'corey', 'benjamin', 'ethan', 'gabriel', 'tim', 'bob', 'john', 'jack'}

# Union: shows items appearing in either set
print('The names appearing in either set are:')
print(hatfields | mccoys)

# Intersection: shows items appearing in both sets
print('The names appearing in both sets are:')
print(hatfields & mccoys)

# Difference: shows items appearing in the first set but not the second
print('The names appearing in hatfields but not mccoys are:')
print(hatfields - mccoys)

# Symmetric_difference: shows items appearing in only one set
print('The names appearing in only one set are:')
print(hatfields ^ mccoys)

The names appearing in either set are:
{'benjamin', 'brandon', 'luke', 'tim', 'jeb', 'clayton', 'ethan', 'john', 'jack', 'morgan', 'jedidiah', 'matt', 'gabriel', 'jim', 'corey', 'bob'}
The names appearing in both sets are:
{'tim', 'jack', 'bob', 'john'}
The names appearing in hatfields but not mccoys are:
{'matt', 'jedidiah', 'luke', 'jim', 'jeb', 'clayton'}
The names appearing in only one set are:
{'morgan', 'benjamin', 'jedidiah', 'brandon', 'matt', 'gabriel', 'luke', 'jim', 'corey', 'jeb', 'clayton', 'ethan'}

## Requirement 9

In [6]:
temperature = 95

if 90 <= temperature:
    print('Heat Category 5')
elif 88 <= temperature < 90:
    print('Heat Category 4')
elif 85 <= temperature < 88:
    print('Heat Category 3')
elif 82 <= temperature < 85:
    print('Heat Category 2')
elif 78 <= temperature < 82:
    print('Heat Category 1')
else:
    print('Heat Category N/A')

Heat Category 5

## Requirement 10

In [17]:
# Demonstrate a for loop using a range
for x in range(10):
    print(x, end=' ')

0 1 2 3 4 5 6 7 8 9

In [19]:
# Demonstrate a for loop using a list of contents
for x in [1, 5, 7, 9, 12]:
    print(x, end=' ')

1 5 7 9 12

## Requirement 11

In [21]:
# Demonstrate the use of a while loop with i = 0 to 7
i = 0 
while i < 8:
    print(i, end=' ')
    i += 1

0 1 2 3 4 5 6 7

In [22]:
# Demonstrate the use of a while loop with i = 1 to 7
i = 1 
while i < 8:
    print(i, end=' ')
    i += 1

1 2 3 4 5 6 7

## Requirement 12

In [2]:
# Define a funtion that returns the factorial of a number
def factorial(x):
    if x == 1:
        return x
    else:
        return x * factorial(x - 1)
    
print('The factorial of 5 is:',factorial(5),'.')

The factorial of 5 is: 120 .

## Requirement 13

In [17]:
def vegetables(*veg_quantity, **veg_type):
    print('veg_quantity =', veg_quantity)
    print('veg_type =', veg_type)
    
vegetables(6, 8, 10, a='zuchinni', b='carrot', c='onion')

veg_quantity = (6, 8, 10)
veg_type = {'a': 'zuchinni', 'b': 'carrot', 'c': 'onion'}

## Requirement 14

In [12]:
# Create a list that contains dictionaries

cars = [{'type':'suv', 'make':'ford', 'model':'escape'}, {'type':'sedan', 'make':'toyota', 'model':'corolla'}, {'type':'truck', 'make':'chevy', 'model':'colorado'}]

print(' - Here is the list called cars:')
print(cars)

# Pass the cars list to the sorted built-in function and use a lambda to sort the cars list

print(' - Here is the list after sorting alphabetically by type:')
print(sorted(cars, key=lambda item: item['type']))

# Perform another sort on the cars list using a lambda and a different key

print(' - Here is the list after sorting alphabetically by model:')
print(sorted(cars, key=lambda item: item['model']))

 - Here is the list called cars:
[{'type': 'suv', 'make': 'ford', 'model': 'escape'}, {'type': 'sedan', 'make': 'toyota', 'model': 'corolla'}, {'type': 'truck', 'make': 'chevy', 'model': 'colorado'}]
 - Here is the list after sorting alphabetically by type:
[{'type': 'sedan', 'make': 'toyota', 'model': 'corolla'}, {'type': 'suv', 'make': 'ford', 'model': 'escape'}, {'type': 'truck', 'make': 'chevy', 'model': 'colorado'}]
 - Here is the list after sorting alphabetically by model:
[{'type': 'truck', 'make': 'chevy', 'model': 'colorado'}, {'type': 'sedan', 'make': 'toyota', 'model': 'corolla'}, {'type': 'suv', 'make': 'ford', 'model': 'escape'}]

## Requirement 15

In [16]:
# Demonstrate the use of a try and except statement

try:
    print('Here is the first block of code')
    tuple_1 = (45, 76, 555, -54, 2, 37, -77)
    tuple_1.append(1) # This will create an error because tuples are immutable
except:
    print('This error message is being displayed because there is something wrong with the first block of code.')

Here is the first block of code
This error message is being displayed because there is something wrong with the first block of code.

## Requirement 16

In [14]:
# Demonstrate the use of try, except, else, and finally statements

try:
    age = int(input('How old are you?: '))
except: 
    print("Try again! Tell us your age by entering a number.")
else: 
    if age < 18:
        print("Sorry, come back again when you're a little older.")
    else: 
        print("Welcome old chap. Come on in!")
finally:
    print("Thanks!")

How old are you?: 25
Welcome old chap. Come on in!
Thanks!

## Requirement 17

Iterator indirection is a concept that allows Python to treat things as lists that are not actually lists. For eample, the
range() iterator creates an object can be treated like a list. Creating a for loop such as "for x in range(100)" allows Python to perform some operation on each value in the range as long as that operation's return is valid, but does not require the system to explicitly create a list of all values 0 through 100 before performing the operation. This allows operations to use system memory more efficiently.

## Requirement 18

In [6]:
# Create a list of 10 animal species named animals_list 

animals_list = ['dog', 'cat', 'bear', 'lion', 'tiger', 'mongoose', 'cobra', 'rat', 'mouse', 'hawk']

# Demonstrate the use of len() and iteration to print the index and values of the animals in the list.

for i in range(len(animals_list)):
    print(i, animals_list[i])

0 dog
1 cat
2 bear
3 lion
4 tiger
5 mongoose
6 cobra
7 rat
8 mouse
9 hawk

## Requirement 19

In [9]:
# Use the enumerate iterator to perform the same actions as Requirement 18

animals_list = ['dog', 'cat', 'bear', 'lion', 'tiger', 'mongoose', 'cobra', 'rat', 'mouse', 'hawk']

for i, val in enumerate(animals_list):
    print(i, val)

0 dog
1 cat
2 bear
3 lion
4 tiger
5 mongoose
6 cobra
7 rat
8 mouse
9 hawk

## Requirement 20

In [13]:
# Create a list of 10 colors named colors_list
# Use the zip iterator to print the values of the animals_list and colors_list within the same for loop

colors_list = ['red', 'orange', 'green', 'blue', 'indigo', 'violet', 'purple', 'pink', 'brown', 'black']
animals_list = ['dog', 'cat', 'bear', 'lion', 'tiger', 'mongoose', 'cobra', 'rat', 'mouse', 'hawk']

for color, animal in zip(colors_list, animals_list):
    print(color, animal)

red dog
orange cat
green bear
blue lion
indigo tiger
violet mongoose
purple cobra
pink rat
brown mouse
black hawk

## Requirement 21

In [32]:
# Create a lambda named times_ten that multiplies the variable x by 10. 

times_ten = lambda x: x * 10 

# Use the map iterator and range(10) to evaluate the lambda in a for loop.

for val in map(times_ten, range(10)):
    print (val, end=' ')

0 10 20 30 40 50 60 70 80 90

## Requirement 22

In [62]:
# Create a lambda named by_three that returns true if the variable x is evenly divisible by 3. 

by_three = lambda x: x % 3 == 0

# Use the filter iterator and range(30) to evaluate the lambda in a for loop.

for val in filter(by_three, range(30)):
    print(val, end=' ')

0 3 6 9 12 15 18 21 24 27

## Requirement 23

This assignment was far more challenging than the first. The requirements here were far more complicated, and many of the examples in the textbook were too simplistic to provide a lot of meaninful assistance. For example, while I was able to use the args/kwargs example from the textbook to produce a function that met the assignment requirements, I'm afraid I still don't understand what a functional real-world usage of this method might be. Another place I had difficulty was in learning how to use lambdas. I was able to create the by_three function using the def method rather easily, but for some reason struggled to translate that into the lambda syntax (though it seems rather simple now). 

My hope is that, moving forward in the course, we will begin to apply these techniques in practical exercises that will help me to internalize them and better understand their various uses.